body{
margin: 0;
color: white;
 background-color: #6a62d2;
}
.box
{    background-color: #1c1d22;
    padding: 15px;
    border: 1px solid #323232;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    overflow:auto;
    margin: 0 0 10px;
	border-radius: 7px;
	
}
.containerLogin
{
    margin: auto;
	width: 400px;
	
}
.continutcontainerLogin
{
    margin: 10vh auto;
	padding:20px;
    background: #171717;
    border: 1px solid #323232;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-radius: 7px;
}

.textCentrat
{
	text-align:center;
}
.casetaInput
{
	width: 90%;
  padding: 10px 10px;
  margin-top: 9px ;
   margin-bottom: 9px ;
  border-radius: 10px;
  	font-size:15px ;
}
.buttonDow
{
	
	width: 100%;
	border: 2px solid white;
	border-radius: 8px;
	background-color: #4169E1;
	text-align: center;
	font-size:20px ;
  text-decoration: none;
	color: white;
  padding: 15px 15px;
  
}
.buttonDow2
{
	
	width: 100%;
	border: 2px solid white;
	border-radius: 8px;
	background-color: #2F4F4F;
	text-align: center;
	font-size:20px ;
  text-decoration: none;
	color: white;
  padding: 15px 15px;
  
}
.buttonDow:hover,.buttonDow2:hover
{
	border: 2px solid black;
	background-color: white;
	color: black;
}
.boxFlex
{   
display: flex;
justify-content:  center ;
margin-top: 10px;
margin-bottom: 15px;

}


